<a href="https://colab.research.google.com/github/Stray-God/python/blob/main/basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Variables Declaration**

In python we can declare variables 

a,b,c = 1,2,3 

where a value is 1 , b is 2 , c is 3.


where as in C it's not possible:

int a,b,c = 1,2,3 ;    ~ ERROR

int a,b,c = (1,2,3) ;   ~ a=0 , b=0 , c =3

**Key differences in assigning variables**

Int , float , str , boolean are immutable in Python 

[ below is the ex ]

In python 

a = 2
b = a
a = 4
print ( a ,b)  ~ a = 4, b = 2

In C

if we try to assign new value to same variable it prints error due to redefinition

**CHAR & STR DIFF**

In python we can declare string and char with both 

a = 'ram' or a = " ram"

a = 'r' or a = "r"

where as in c 

char a = 'r' ;

and 

char a[ ] = "ram" ;

**DATA TYPES**

int

float

Boolean - True & False ( capital T & F )

str

None ( Capital N )

list -   x = ["apple", "banana", "cherry"]

tuple -  x = ("apple", "banana", "cherry")

set -   x = {"apple", "banana", "cherry"}

dictionary -    x = {"name" : "John", "age" : 36}

**List - (mutable) and Tuple - (Immutable) data type**

a= 1,2,3,'row' 

print (type(a))  ~ tuple

print(a)  ~ ( 1, 2, 3 , 'row' )


---



a= ( 1,2,3,'romw' )

print (type(a))  ~ tuple

print(a) ~ ( 1, 2, 3 , 'row' )


---



a= [1,2,3,'row']

print (type(a))   ~ list

print(a)     ~ [1,2,3,'row']


**Set data type**

Collection of elements and doesn't prints duplicate elements 
 prints in unorder ( diff can be found when taken more elements )


---



a= { 1,2,3,'row' ,1 }

print (type(a)) ~ set

print(a)  ~  { 1,2,3,'row'  }



---


a= {1,2,3,'row' ,1 , 7 ,6,9,4,89,67,68,8543,}

print (type(a)) ~ set

print(a) ~  { 1 , 2 , 3 , 4 , 67 ,6 . . . . }

**OPERATORS**

Arithmetic  : + , - , * , / , // , % , **

/ - gives answer in decimal (7/3 = 2.3)

// - gives 7/3 = 2 

** - power or exponent
______________________________________________________________
Relation or Comparison : #prints True or False 

   [  > , >= , < , <= , == , !=  ]
______________________________________________________________
Logical :

and (&&) , or ( || ) , not [ ! (||) ]

~same as C 

~ output will be True or False
______________________________________________________________
Assignment :

[ = , += , -=  ]
______________________________________________________________
Unary operation :

-a , +a

a=10  

print (-a)   ~  -10
______________________________________________________________
Bitwise operator
 
& , | , << , >> , ^ , ~
______________________________________________________________
Membership operators :

in , not in
______________________________________________________________

Identity operators :

is , is not
______________________________________________________________

***STRINGS***

Strings are Arrays
Like many other popular programming languages, strings in Python are arrays of bytes representing Unicode characters.

However, Python does not have a character data type, a single character is simply a string with a length of 1.

Square brackets can be used to access elements of the string.

Example

a = "Hello, World!"

print(a[1])  ~  e

_____________________________________________________________________________

String Length :

 len()


To check if a certain phrase or character is present in a string, we can use the keyword ' in '  ~ Tells True or False

Can also use in ' if ' statement

**INPUT & OUTPUT**

a = input ( ) 

print ( a )   
______________________________________________________________

a = input ( ' enter a number ' )

______________________________________________________________

input statement takes any value as string :

a = int ( input ( ' enter a number ' ) )
______________________________________________________________

Printing statement with a message :

a = float (input ("enter " ))

b = float (input ("enter " ))

c = a+b

print ('sum of' ,a ,'and', b ,'is' ,c)
______________________________________________________________

sep is seperator

a = float (input ("enter " ))

b = float (input ("enter " ))

c = a+b


print ('sum of' ,a ,'and', b ,'is' ,c,sep='.')  

~ replaces , with .
______________________________________________________________

print statement don't need \n

print ( ' hi ' )

print ( ' op ' )

~ hi

op
______________________________________________________________

to print without gap in ' + ' is used instead of ' , '

' + ' can only be used on strings

a =  int (input ("enter " )) ~ error

a =  (input ("enter " )) ~ no error bcz the entered value becomes string by default input statement 
______________________________________________________________

**KEY WORDS**

Keywords are case sensitive . 

True , False , None - 1st letter is upper case .

" else if " is simplified as " elif " .

and - && in C

or - || in C

not - ! in C

is - = ( Equal to ) ; a = 10 ,b=7 print ( a is b ) ~ False

in - tells wheather the number is in given data ( True or False ) a= [ 1 , 4 , 5 ] printf ( 1 in a )
~ True

yield - same as return in c but helps in returning more than one value

try , except , finally , raise , assert - exception functions

import - helps in modules

from - imports one function / library from modules

as - alternative name for module ex: import math as m

def - user defined functions

lamda - anonymous functions

In [ ]:
#To print random numbers
import random

print(random.randrange(1,10))

**SYNTAX**

Python will give you an error if you skip the indentation:

The number of spaces is up to you as a programmer, the most common use is four, but it has to be at least one.

You have to use the same number of spaces in the same block of code, otherwise Python will give you an error:

**SLICING**

Slicing
You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.

Example
Get the characters from position 2 to position 5 (not included):

b = "Hello, World!"

print(b[2:5])  ~ llo

print(b[:5]) ~ Hello

print(b[2:]) ~ llo, World!

Negative Indexing 

Use negative indexes to start the slice from the end of the string:

Example

-2 is not included

kow - w is -1 , 0 is -2 , .....

b = "Hello, World!" 
 
print(b[-5:-2])  ~ orl

if -2:-5 ( Wrong )
_________________________________________________________________
b = "lowsd"

print(b[::-1])

( start:stop:step )

**FORMAT**

Use the format() method to insert numbers into strings:

age = 36

txt = "My name is John, and I am {}"

print(txt.format(age))
__________________________________________________________________________

The format() method takes unlimited number of arguments, and are placed into the respective placeholders:

Example

quantity = 3

itemno = 567

price = 49.95

myorder = "I want {} pieces of item {} for {} dollars."

print(myorder.format(quantity, itemno, price))  ~  takes the line order given in ( 0 )
__________________________________________________________________________
You can use index numbers {0} to be sure the arguments are placed in the correct placeholders:

Example

quantity = 3

itemno = 567

price = 49.95

myorder = "I want to pay {2} dollars for {0} pieces of item {1}."

print(myorder.format(quantity, itemno, price))   ~ takes order given in { }

**ESCAPE STRINGS**

Escape Character

To insert characters that are illegal in a string, use an escape character.

An escape character is a backslash ' \ '  followed by the character you want to insert.

An example of an illegal character is a double quote inside a string that is surrounded by double quotes:

Example

You will get an error if you use double quotes inside a string that is surrounded by double quotes:

txt = "We are the so-called "Vikings" from the north."

To fix this problem, use the escape character \":

Example 

The escape character allows you to use double quotes when you normally would not be allowed:

txt = "We are the so-called \"Vikings\" from the north."

~  We are the so-called "Vikings" from the north.

_________________________________________________________________________________

Escape Characters

Other escape characters used in Python:

\'	       Single Quote	
\\	       Backslash	
\n	       New Line	
\r	       Carriage Return	
\t	        Tab	
\b	        Backspace	
\f	        Form Feed	
\ooo	Octal value	
\xhh	Hex value

**MODIFY STRING**

The replace() method replaces a string with another string:

a = "Hello, World!"

print(a.replace("H", "J"))
__________________________________________________________________________

The strip() method removes any whitespace from the beginning or the end:

a = " Hello, World! "

print(a.strip())       # returns "Hello, World!"
__________________________________________________________________________
The split() method splits the string into substrings if it finds instances of the separator:

a = "Hello, World!"

print(a.split(",")) # returns ['Hello', ' World!']

removes the word used b/w " "

**FOR LOOP**

for i in range (1,10,2):

Here1 is starting and 10 is ending and 2 is step

So it prints 1,3,5,7,9

last element will not be considered ( i.e. 10 )

for i in range ( 1,10 ):

start and end

for i in range (10) :

end value and starts from 0

In [2]:
#UPDATING VALUES

L=[1,3,4,5,7]

print(L[0:5])

#append = adding in last only one value
L.append(40)

print(L)

#Updates value 
L[0]=8

print(L)

#Removes only value not index 
#if there are two values then only first one will be removed
#can't remove more than two values

L.remove(40)

print(L)


#deletes the number by index or deletes last number if not specified
L.pop(0)

print(L)

del L[1:3]

print(L)

[1, 3, 4, 5, 7]
[1, 3, 4, 5, 7, 40]
[8, 3, 4, 5, 7, 40]
[8, 3, 4, 5, 7]
[3, 4, 5, 7]
[3, 7]

In [4]:
#LIST METHODS

#finds length
l=[1,2,3,4,5,6,7,8,9,0]
print(len(l)) #9

#add 2 lists
l2=[10,11,12]
print(l+l2)

#repeats elements 2 times
print(l2*2)
#one value should be integer
#print(l*l2)

#Prints True or False
print(1 in l)

print(10 in l)

#max in a list
print(max(l))
#max of the list
print(max(l,l2))
#max of 2 list
print(max(l+l2))
#min and max

#prints sum
#Can't perform sum operation if set contains other than numerical
print(sum(l+l2))

#if there is no 0 in list then it prints True
print(all(l))

#if there are all 0 in list then it prints false
print(any(l))

#converts string to array
l3='hello'
print(list(l3))
#prints in alphabetical order
print(sorted(l3))

10
[1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 10, 11, 12]
[10, 11, 12, 10, 11, 12]
True
False
9
[10, 11, 12]
12
78
False
True
['h', 'e', 'l', 'l', 'o']
['e', 'h', 'l', 'l', 'o']

In [6]:
#LIST METHODS -2

#append only adds only one value at only end
l=[1,2,3,4,5]
l.append(60)
print(l)


#can add more than 2 values at only end
l.extend([70,80])
print(l)

#insert can place value at any place by making list move 
l.insert(0,900)
print(l) 

##Removes only value not index 
#if there are two values then only first one will be removed
#can't remove more than two values
l.remove(900)
print(l)

#deletes the number by index or deletes last number if not specified
l.pop(0)
print(l)


#count and index
j=[2,2,2,6,45]
print(j.count(2))
print(j.index(45))

#reverse the string
j.reverse()
print(j)


#short prints ascending order 
k=[1,9,8,2,2,3,5]
k.sort()
print(k)

#to print descending order
#To sort descending, use the keyword argument reverse = True

[1, 2, 3, 4, 5, 60]
[1, 2, 3, 4, 5, 60, 70, 80]
[900, 1, 2, 3, 4, 5, 60, 70, 80]
[1, 2, 3, 4, 5, 60, 70, 80]
[2, 3, 4, 5, 60, 70, 80]
3
4
[45, 6, 2, 2, 2]
[1, 2, 2, 3, 5, 8, 9]

**Nested List**

In [ ]:
l=[[[1,2],[3,4]],[[5,6],[7,8]]]
print(len(l))
print(l[0])
print(l[0][0])
print(l[0][0][0])

2
[[1, 2], [3, 4]]
[1, 2]
1

**List comprehension**

In [ ]:
#Printing cube of numbers
l=[]
for i in range(1,11):
  l.append(i**3)
print(l)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [ ]:
#One line code 
n=int(input())
l=[i**3 for i in range(1,n+1)]  # first expresion must
print(l)

10
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [ ]:
#Even numbers
#newlist = [expression for item in iterable if condition == True]
n=int(input())
l=[i for i in range (1,n+1) if i%2==0]
print(l)

10
[2, 4, 6, 8, 10]

**TUPLES**

In [19]:
#Elements of tuples are enclosed in ()
#immutable- can't modify
a=(1,2,3,4,5,6,7,8,9)
b=(1,2,2.5,'py')
c=() #empty tuple

#creating a tuple with only one element ',' makes it tuple
d=(10,)
print(type(d))

#same index as list
print(a[0])
print(a[0:5])

#slicing
print(a[0:9:2])

#deletion is not possible
#can only delete entire tuple
del b

#nested tuple is same as nested list

<class 'tuple'>
1
(1, 2, 3, 4, 5)
(1, 3, 5, 7, 9)

**BASIC TUPLE OPERATIONS**

In [38]:
a=(1,2,3,4,5,6,7,8,9)
print(len(a))
print(max(a))
print(min(a))

#Can't perform sum operation if set contains other than numerical
print(sum(a))

b=(10,11,12,13,14,15)
print(a+b)

#repeats elements 2 times
#one value should be integer
print(b*2)

print(10 in b) 
print( 10 not in b)

#Sorted - Arranges elements in ascending order
c=(1,9,7,3,5,6,4,8)
print(sorted(c))

#Tuple fucntion
d= "hello"
e=[1,5,6,7,8,6,1,1]
f = 1,2,'ko'
print(tuple(d))
print(tuple(e))
print(tuple(f))

#Count - Tells how many times a number is present in tuple
print(e.count(1))
#shows index of first element if there are multiple
print(e.index(1))

#Example
#Convert the tuple into a list to be able to change it:

x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

9
9
1
45
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15)
(10, 11, 12, 13, 14, 15, 10, 11, 12, 13, 14, 15)
True
False
[1, 3, 4, 5, 6, 7, 8, 9]
('h', 'e', 'l', 'l', 'o')
(1, 5, 6, 7, 8, 6, 1, 1)
(1, 2, 'ko')
3
0
('apple', 'kiwi', 'cherry')

In [40]:
#Using Asterisk

#If the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list:

#Example

#Assign the rest of the values as a list called "red":

fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")


(green, yellow, *red) = fruits

print(green) 

print(yellow)

print(red)

#If the asterisk is added to another variable name than the last, Python will assign values to the variable until the number of values left matches the number of variables left.

#Example
#Add a list of values the "tropic" variable:

fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']
apple
['mango', 'papaya', 'pineapple']
cherry

**SETS**

List is a collection which is ordered and changeable. Allows duplicate members. 

Tuple is a collection which is ordered and unchangeable. Allows duplicate members.

Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.

Dictionary is a collection which is ordered** and changeable. No duplicate members.

*Set items are unchangeable, but you can remove and/or add items whenever you like.

**As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

In [53]:
#unorderd can print anyway
a={'string',1,2.2}
print(a)

#set prints only unique elements and also only takes unique elements as length
b={1,21,5,21,21,6}
print(b)
print(len(b))
print(max(b))
print(min(b))

#Can't perform sum operation if set contains other than numerical
print(sum(b))

print(sorted(b))

print(21 not in b)

#doesn't support indexing and slicing

#empty set
s=set()
print(type(s))

#if created like this, it will become dictonary
s={}
print(type(s))

#Can only delete full set and if tried to print that set we will get error

{1, 'string', 2.2}
{1, 5, 21, 6}
4
21
1
33
[1, 5, 6, 21]
False
<class 'set'>
<class 'dict'>

**SET OPERATIONS**

In [107]:
a={1,21,5,21,21,6}

#adding a copy element is no use
a.add(22)
print(a)

#update here a+b doesn't works
#The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).
b={22,21,25,26}
a.update(b)
print(a)

#if we try to remove element which is not present in set we will get error
a.remove(22)
print(a)

#here we won't get error if the element is absent
a.discard(25)
print(a)

#pop [ 99%-1st element ]
a.pop()
print(a)

#gets error as entire set is deleted
c={1,2,3,4}
del(c)
#print(c)

#clear 
d={2,5,4,8,9}
d.clear()
print(d)

#union combine 2 sets
print(a.union(b))
#or
print(a|b)

#intersection - prints only matches elements from both sets
x={1,2,3,4}
y={3,4,5,6}
print(x.intersection(y))
print(x&y)

#difference - prints elements that are not present in another set
print(x.difference(y))
print(y-x)

#symetric_difference - prints all elements except same elements from both sers
print(x.symmetric_difference(y))
print(x^y)

#subset every element of x set should present in y then returns True
print(x.issubset(y))
print(x<=y)

#issuperset every element of f set should present in g then true
f={4,5}
g={4,5,6,7,8,9}
print(g.issuperset(f))
print(g>=f)

#isdisjoint no common elemets TRUE
print(f.isdisjoint(g))
print()

#copied g elements to f
g=f.copy()
print(g)

{1, 5, 6, 21, 22}
{1, 5, 6, 21, 22, 25, 26}
{1, 5, 6, 21, 25, 26}
{1, 5, 6, 21, 26}
{5, 6, 21, 26}
set()
{5, 6, 21, 22, 25, 26}
{5, 6, 21, 22, 25, 26}
{3, 4}
{3, 4}
{1, 2}
{5, 6}
{1, 2, 5, 6}
{1, 2, 5, 6}
False
False
True
True
False

{4, 5}

**DICTIONRAIES**

In [126]:
#Dictionaries are used to store data values in key:value pairs.

#Dictionary items are ordered, changeable, and does not allow duplicates.

#Dictionary items are presented in key:value pairs, and can be referred to by using the key name.

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])  # ford

#Acess
x = thisdict.get("model") # Mustang
print(x)

#As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

#You can access the items of a dictionary by referring to its key name, inside square brackets

#keys -  returns all key values
x = thisdict.keys()
print(x)
#values - returns aa values
x = thisdict.values()
print(x)

#adding new key-value to dict
thisdict["color"] = "white"
print(thisdict)

#The items() method will return each item in a dictionary, as tuples in a list.
x = thisdict.items()
print(x)

#change values
thisdict["year"] = 2018
print(thisdict)

thisdict.update({"year": 2020})
print(thisdict)

#You can loop through a dictionary by using a for loop.
#When looping through a dictionary, the return value are the keys of the dictionary, but there are methods to return the values as well
for x in thisdict:
  print(x)

#Print all values in the dictionary, one by one:
for x in thisdict:
  print(thisdict[x])

#You can also use the values() method to return values of a dictionary
for x in thisdict.values():
  print(x)

#You can use the keys() method to return the keys of a dictionary
for x in thisdict.keys():
  print(x)

#Loop through both keys and values, by using the items() method
for x, y in thisdict.items():
  print(x, y)

#copying dict
mydict = thisdict.copy()
print(mydict)

mydict = dict(thisdict)
print(mydict)

#setdefault()
x = thisdict.setdefault("model", "Bronco")
print(x)

#fromkeys - Create a dictionary with 3 keys, all with the value 0 
x = ('key1', 'key2', 'key3')
y = 0
k = dict.fromkeys(x, y)
print(k)


  #The pop() method removes the item with the specified key name:
thisdict.pop("model")
print(thisdict)

#The popitem() method removes the last inserted item (in versions before 3.7, a random item is removed instead):
thisdict.popitem()
print(thisdict)

#del keyword removes the item with the specified key name 
#del keyword can delete dict completely
del thisdict["brand"]
print(thisdict)

#The clear() method empties the dictionary:
thisdict.clear()
print(thisdict)

Ford
Mustang
dict_keys(['brand', 'model', 'year'])
dict_values(['Ford', 'Mustang', 1964])
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'white'}
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964), ('color', 'white')])
{'brand': 'Ford', 'model': 'Mustang', 'year': 2018, 'color': 'white'}
{'brand': 'Ford', 'model': 'Mustang', 'year': 2020, 'color': 'white'}
brand
model
year
color
Ford
Mustang
2020
white
Ford
Mustang
2020
white
brand
model
year
color
brand Ford
model Mustang
year 2020
color white
{'brand': 'Ford', 'model': 'Mustang', 'year': 2020, 'color': 'white'}
{'brand': 'Ford', 'model': 'Mustang', 'year': 2020, 'color': 'white'}
Mustang
{'brand': 'Ford', 'year': 2020, 'color': 'white'}
{'brand': 'Ford', 'year': 2020}
{'year': 2020}
{}